import telebot

# توکن ربات شما
bot = telebot.TeleBot('8344100450:AAFiooMCbFEI6lXvfyaKrsdjERBr2PCcSFk')

# آیدی‌های رابط
REBATE_1 = 8457219431
REBATE_2 = 6936902567

# شمارنده برای توزیع 4 به 2
counter = 0

@bot.message_handler(func=lambda message: True)
def distribute(message):
    global counter
    counter += 1
    # توزیع هوشمند 4 به 2
    if (counter - 1) % 6 < 4:
        target = REBATE_1
    else:
        target = REBATE_2
    
    try:
        bot.send_message(target, message.text)
    except:
        pass

bot.infinity_polling()
